.flexContainer {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.signIn {
    width: 375px;
    height: 350px;
    background-color: transparent;
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;
    transition: 1s;
    text-align: center;
    position: relative;
}

/* .signIn:hover {
    transform: scale(1.04);
} */

.signInInput{
    width: 225px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 20px;
    background: none;
    border: 2px solid black;
    outline: none;
}

.signInInput:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.signInInput:focus{
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

#headerSign{
    font-size: 45px; 
    margin-top: 42px;  
    margin-bottom: 25px; 
}

#signInButton, #registerButton{
    cursor: pointer;
}

#signInButton{
    background: none;
    border-radius: 5px;
    font-size: 15px;
    width: 85px;
    height: 35px;
}

#registerButton{
    background: none;
    font-size: 20px;
    border: none;
    margin-top: 20px;
}

#incorrectSignIn{
    margin-bottom: 7px;
    color: #fff;
    font-weight: 900; 
    position: absolute;
    left: 45px;
    top: 75px;
}